VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_PUBLIC_APP_URL=
VITE_TELEGRAM_BOT_USERNAME=settle_home_bot
VITE_TELEGRAM_APP_NAME=
VITE_DADATA_TOKEN=
VITE_2GIS_KEY=
VITE_DEFAULT_CITY=Якутск
VITE_DEFAULT_COUNTRY=RU
